body{
    background-color: cornsilk;
}
#header{
 color :darkblue;
 background-color: floralwhite;
}

#note{
    color: gray;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
}

.centerdiv button{
    margin-top: 30px;
    width: 120px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-weight: bold;
}

.copy_right_footer{
    position: fixed;
    color:indigo;
    bottom: 0px;
    width: 100%;
    font-size: 17px;
    background-color: lightblue;
    text-align: center;
    text-shadow: 5px 5px 5px gray;
}